html{
        cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
        background-image: url(imagens/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        height: 100vh;
}

.mosquito1 {

        height: 50px;
        width: 50px;

}
.mosquito2 {

        height: 85px;
        width: 85px;

}
.mosquito3 {

        height: 160px;
        width: 160px;

}

.painel{
        position: absolute;
        width: 190px;
        padding: 10px;
        bottom: 0px;
        border-top: solid 1px #fff;
        background-color: #fff;
        opacity: 0.7;
}

.vidas{
        float: left;
}

.cronometro{
        float: left;
        font-size: 20px;
}
